<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pump Control</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    
    {% include 'navigation.html' %}

    <!-- Display any flash messages -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    
   

    <h1>Pump Control</h1>
    
    <!-- Form for volume and speed control -->
    <form action="{{ url_for('run_pump') }}" method="post">
        <label for="volume">Enter Volume (mL):</label>
        <input type="number" id="volume" name="volume" step="0.1" min="0" required value="{{ last_volume }}">
        
        <label for="speed">Enter Speed (rps):</label>
        <input type="number" id="speed" name="speed" step="0.1" min="0" required value="{{ last_speed }}">
        
        <button type="submit">Run Pump</button>
    </form>
    
    <!-- Log Display -->
    <h2>Operation Log</h2>
    <ul>
        {% for entry in log %}
            <li>{{ entry }}</li>
        {% endfor %}
    </ul>
</body>
</html>
